<section id="genres">
  <div class="section-header">
    <h2 class="section-title">Film <span>Janrlari</span></h2>
    <a href="#" class="section-link">Barchasi <i class="fa-solid fa-arrow-right fa-xs"></i></a>
  </div>
  <div class="genres-grid">
    <a href="#" class="genre-card action">
      <i class="fa-solid fa-bomb genre-icon"></i>
      <span class="genre-name">Action</span>
      <span class="genre-count">142 film</span>
    </a>
    <a href="#" class="genre-card drama">
      <i class="fa-solid fa-masks-theater genre-icon"></i>
      <span class="genre-name">Drama</span>
      <span class="genre-count">98 film</span>
    </a>
    <a href="#" class="genre-card comedy">
      <i class="fa-solid fa-face-laugh-beam genre-icon"></i>
      <span class="genre-name">Komediya</span>
      <span class="genre-count">76 film</span>
    </a>
    <a href="#" class="genre-card horror">
      <i class="fa-solid fa-skull genre-icon"></i>
      <span class="genre-name">Dahshat</span>
      <span class="genre-count">54 film</span>
    </a>
    <a href="#" class="genre-card sci-fi">
      <i class="fa-solid fa-rocket genre-icon"></i>
      <span class="genre-name">Fantastika</span>
      <span class="genre-count">89 film</span>
    </a>
    <a href="#" class="genre-card romance">
      <i class="fa-solid fa-heart genre-icon"></i>
      <span class="genre-name">Romantika</span>
      <span class="genre-count">63 film</span>
    </a>
    <a href="#" class="genre-card thriller">
      <i class="fa-solid fa-user-secret genre-icon"></i>
      <span class="genre-name">Triller</span>
      <span class="genre-count">71 film</span>
    </a>
    <a href="#" class="genre-card documentary">
      <i class="fa-solid fa-video genre-icon"></i>
      <span class="genre-name">Hujjatli</span>
      <span class="genre-count">38 film</span>
    </a>
  </div>
</section>