<div class="hero">
  <div class="hero-bg"></div>
  <div class="hero-circles"></div>
  <div class="hero-content">
    <div class="hero-badge fade-up"><i class="fa-solid fa-fire fa-xs"></i> &nbsp;Haftaning eng yaxshi filmi</div>
    <h1 class="hero-title fade-up delay-1">Oppenheimer<br><em>& the Bomb</em></h1>
    <div class="hero-meta fade-up delay-2">
      <div class="hero-rating">
        <i class="fa-solid fa-star fa-xs"></i> 8.9 / 10
      </div>
      <span class="hero-info"><i class="fa-regular fa-clock"></i> 3s 0d &nbsp;·&nbsp; 2023 &nbsp;·&nbsp; Biografiya</span>
    </div>
    <p class="hero-desc fade-up delay-3">
      Atom bombasini yaratgan Amerikalik fizik J. Robert Oppenheimerning hayoti va uning insoniyat taqdiri bilan bog'liq murakkab qarorlari haqida epik hikoya.
    </p>
    <div class="hero-actions fade-up delay-4">
      <a href="detail.html" class="btn-primary"><i class="fa-solid fa-play fa-xs"></i> Batafsil ko'rish</a>
      <a href="#" class="btn-outline"><i class="fa-regular fa-bookmark fa-xs"></i> Saqlash</a>
    </div>
  </div>
</div>