<nav>
  <a href="index.html" class="logo">Cine<span>Verse</span></a>

  <ul class="nav-links">
    <li><a href="index.html" class="active"><i class="fa-solid fa-house fa-sm"></i> Bosh sahifa</a></li>
    <li><a href="#films"><i class="fa-solid fa-film fa-sm"></i> Filmlar</a></li>
    <li><a href="#genres"><i class="fa-solid fa-tags fa-sm"></i> Janrlar</a></li>
  </ul>

  <!-- Actor strip in navbar -->
  <div class="actor-strip">
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=1" alt="Tom Hanks">
      <span class="actor-name">Tom Hanks</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=5" alt="Meryl Streep">
      <span class="actor-name">Meryl Streep</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=3" alt="Leonardo DiCaprio">
      <span class="actor-name">L. DiCaprio</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=9" alt="Scarlett Johansson">
      <span class="actor-name">S. Johansson</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=8" alt="Denzel Washington">
      <span class="actor-name">D. Washington</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=12" alt="Cate Blanchett">
      <span class="actor-name">C. Blanchett</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=15" alt="Brad Pitt">
      <span class="actor-name">Brad Pitt</span>
    </a>
    <a class="actor-pill" href="detail.html">
      <img src="https://i.pravatar.cc/50?img=20" alt="Natalie Portman">
      <span class="actor-name">N. Portman</span>
    </a>
  </div>

  <div class="nav-right">
    <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button class="btn-login"><i class="fa-solid fa-user fa-xs"></i> Kirish</button>
  </div>
</nav>